<!doctype html>
<html lang="{{ site.locale }}">
    <head>
        {% render "head", metadata: site.metadata, title: page.title %}
    </head>
    <body>
        <main class="container mx-auto my-8">
            <article class="px-4 prose">
                {{ content }}
            </article>
        </main>
    </body>
</html>
