<nav class="bg-slate-200/80 dark:bg-slate-700/80 h-16 py-5">
    <div class="max-w-screen-lg mx-auto flex-none flex justify-between">
        <div class="relative">
            <a href="/">Max McCarthy</a>
        </div>

        <div class="float-right">
            <a href="/now" class="hover:bg-slate-500 px-3 py-2 rounded-md">Now</a>
            <a href="/blog" class="hover:bg-slate-500 px-3 py-2 rounded-md">Blog</a>
        </div>
    </div>
</nav>
